<nav>
  <ul class="sidebar-nav">
    <li>
      <a href="/catalog">Home</a>
    </li>
    <li>
      <a href="/catalog/materials">All materials</a>
    </li>
    <li>
      <a href="/catalog/brands">All brands</a>
    </li>
    <li>
      <a href="/catalog/rolls">All rolls</a>
    </li>
    <li>
      <a href="/catalog/diameters">All diameters</a>
    </li>
    <li>
      <hr />
    </li>
    <li>
      <a href="/catalog/brand/create">Add brand</a>
    </li>
    <li>
      <a href="/catalog/material/create">Add new material</a>
    </li>
    <li>
      <a href="/catalog/roll/create">Add new filament roll/a>
    </li>
    <li>
      <a href="/catalog/diameter/create">Add new diameter</a>
    </li>
  </ul>
</nav>
