<h1>By the numbers:</h1>

<p>Current selection:</p>

<ul>
  <li><strong>Brands:</strong> <%= brand_count %> available</li>
  <li><strong>Materials:</strong> <%= material_count %> available</li>
  <li><strong>Rolls:</strong> <%= roll_count %> available</li>
  <li><strong>Diameters:</strong> <%= diameter_count %> available</li>
</ul>
